# 5 tuple method
Index()
Count()
len()
Max()
Min()

In [2]:
#Index: Searches the tuple for a specified value. example
x = ('John', 'Jude', 'Nnenna', 'Amaka')
print(x[1])

Jude

In [3]:
#Count: returns the number of times a specified value occurs. Example
student = (1,2,5,6,3,2,8,7)
x = student.count(2)
print(x)

2

In [4]:
#len:it returns the number of element in a tuple. Example
y = (3, 2,8,6,9)
print(len(y))

5

In [5]:
#max():this method returns the largest element of a tuple. it works if tuple contains all value of same type
y = (1,3,2,7)
print(max(y))

7

In [7]:
#min(): this method returns the smallest of a tuple and must have all value of same type
y = (1,3,2,7)
print(min(y))

1